/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* animation */
@keyframes backright {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes backleft {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes titleicon {
    0% {
        transform: rotate(0);
    }

    40% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}


@keyframes kneadingbig {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes kneadingsmall {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes textflow1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes goods{
    0%{
        transform: translateY(0);
    }
    11%{
        transform: translateY(-5px);
    }
    22%{
        transform: translateY(-10px);
    }
    33%{
        transform: translateY(-15px);
    }
    44%{
        transform: translateY(-20px);
    }
    55%{
        transform: translateY(-15px);
    }
    66%{
        transform: translateY(-10px);
    }
    77%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes festivalicon1{
        0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes festivalicon2{
        0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes opacity{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes downup{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

/* 기본 설정 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

html {
    font-size: 18px;
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    line-height: 1.5em;
    color: #040506;
    position: relative;
}

#wrap {
    min-width: 1400px;
}

.font_dnf{
    font-family: 'DNFBitBitv2';
}

/* header_S */
#header {   
    height: 91px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(236, 155, 79, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;    
}

.border{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 50px 50px;
    transition: all 0.5s;
}

.border1{
    border-radius: 0 0 0px 0px;   
}

.inner_header {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 7px 0;
    width: 177px;
    margin: 20px 0;
}

.gnb,
.header_link{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.gnb {
    width: 650px;
    font-size: 23px;
    font-weight: 900;
}

.gnb> li {
    width: 25%;
    text-align: center;
}

.gnb> li> a {
    display: block;
    padding-bottom: 16px;
}

.gnb>li>a:hover {
    border-bottom: 3px solid #ED6C05;

}

.gnb>li>a:hover #header{
    background-color: rgba(255, 255, 255, 0.9);
}


.search_bar{
    margin-top: 36px;
    margin-right: -35px;
    display: flex;
    width: 240px;
    height: 40px;
    border: 1px solid #ED6C05;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    box-sizing: border-box;
}

.search_bar input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_bar img{
    height: 21px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* submenu */
.submenu{
    width: 100%;
    position: absolute;
    top: 91px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 300px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 7px 10px rgba(236, 155, 79, 0.2);
}

.inner_submenu{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.sub_a{
    display: flex;
    width: 650px;
    position: absolute;
    top: 0;
    left: 235px;
}

.sub_a ul{
    width: 25%;
    text-align: center;
    margin-top: 10px;
}

.sub_a ul li a{
    display: block;
    padding: 7px 0;
    font-size: 19px;
}

.sub_a ul li a:hover{
    color: #EA5B18;
    font-weight: bold;
}

.sub_icon{
    background: url(../images/header/icon.svg) center no-repeat;
    height: 37px;
    margin-top: 235px;
}
/* header_link */
.header_link {
    width: 110px;
    font-size: 16px;
    font-weight: 300;
}

.language_icon img {
    display: block;
    margin-top: 4px;
    margin-right: 5px;
}

.language select {
    background-color: transparent;
    border: none;
    font-weight: inherit;
    outline: none;
}

/* header_E */

/* title_S */
.title_wrap {
    line-height: 2.6em;
}

.tr{
    display: flex;
    justify-content: right;
}

.tl{
    display: flex;
    justify-content: left;
}


.title img{
    display: block;
    padding-bottom: 5px;
}

.move{
    display: flex;
    margin-top: -10px;   
}

.move_r{
    justify-content: right;
}

.move img{
    display: block;
    margin-right: 10px;
}

.move p{
    font-size: 20px;
}

.slogan {
    font-size: 22px;
    font-weight: 500;
}

.sr{
    text-align: right;
}

/* title_E */

/* section 공통 꾸미기 */
.section {
    margin: 120px auto 30px;
    width: 1320px;
}

#section_wrap{
    overflow: hidden;
}

/* section1_S */
#section1{
    margin: 240px auto 0;
    position: relative;
}

.app_wrap{
    text-align: center;
}

.download_btn{
    padding: 40px 0;
}
.app img{
    margin-left: -60px;
}

.download_btn a{
    display: inline-block;
    border-radius: 150px;
    padding: 15px 15px;
    background-color: #EE7514;
}

.download_btn a:hover{
    background-color: #cf5d00;
}

.download{
    display: flex;
    color: #FBF8F4;
}

.download img{
    display: block;
    padding-right: 10px;
}

.text{
    position: absolute;
    top: 143px;
    left: 50%;
    margin-left: -660px;
    z-index: -2;
}

.yang{
    position: absolute;
    top: -50px;
    right: -235px;
    z-index: -1;
}
/* section1_E */

/* section2_S */
#section2{
    position: relative;
    padding-top: 30px;
    height: 620px;
}

.gun{
    position: absolute;
    top: -95px;
    left: -220px;
    z-index: -5;
}

.reviewbox_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reviewbox_wrap li{
    width: 258px;
    height: 360px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    margin: 0 5px;
    position: relative;
    background-color: #ffffff;
}

.reviewbox_wrap li img{
    display: block;
    width: 100%;
}

.reviewbox_wrap li:nth-child(2),
.reviewbox_wrap li:nth-child(4){
    margin-top: 50px;
}

.retext_wrap{
    padding: 20px;
}

.nickname{
    border: 1px solid #EE7514;
    width: 70px;
    height: 24px;
    text-align: center;
    border-radius: 16px;
    color: #EE7514;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
}

.small{
    font-size: 10px;
}

.retitle{
    font-weight: 900;
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}

.retext{
    font-size: 13px;
    text-align: center;
}

.reshadow{
    position: absolute;
    top: -82px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.7s;
}

/* .reviewbox_wrap li:hover .reshadow{
    opacity: 1;
} */
/* section2_E */

/* section3_S*/
#section3{
    margin: 120px auto 200px;
    position: relative;
}

.board> li{
    padding: 10px 0;
}

.list{
    display: flex;
    align-items: center;
    background-color: #EE7514;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 0;
}

.list li{
    text-align: center;
    font-size: 30px;
}

.list li:nth-child(1){
    width: 10%;
    font-size: 26px;
    font-weight: bold;
}

.list li:nth-child(2){
    width: 80%;
    text-align: left;
}

.list li:nth-child(3){
    width: 10%;
}

.q{
    color: #FBF8F4;
    font-weight: 900;
}

.answer{
    display: flex;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 50px;
}

.answer_icon{
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.answer_text{
    width: 90%;
}

.turn{
    transform: rotate(180deg);
    transition: transform 0.5s;
}

/* background */
.qna_icon{
    position: absolute;
    z-index: -1;
}

.qna_egg{
    top: 360px;
    right: 200px;
    animation: backleft 3s linear infinite;
}

.qna_avo{
    top: -70px;
    right: 540px;
    animation: backleft 3s linear infinite;
}

.qna_milk{
    top: 130px;
    right: -190px;
    animation: backright 3s linear infinite;
}

.qna_toast{
    top: 90px;
    left: -210px;
    animation: backleft 3s linear infinite;
}

.qna_tomato{
    bottom: -145px;
    left: 260px;
    animation: backright 3s linear infinite;
}
/* section3_E */

/* footer_S */
#footer{
    background: url(../images/footer/background.svg) center no-repeat;
    height: 630px;
    overflow: hidden;
}

.inner_footer{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.footer_logo{
    padding: 160px 0 40px;
}

.number{
    font-weight: 900;
    font-size: 40px;
}

.time{
    padding: 20px 0 25px;
    font-size: 20px;
}

.soclal{
    font-size: 30px;
}

.sns_wrap{
    display: flex;
    height: 43px;
    align-items: center;
    padding: 7px 0 30px;
}

.sns_wrap img{
    display: block;
    margin-right: 3px;
}

.sns_wrap li a{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.kakaotalk img{
    margin-right: 8px;
}

.footer_link{
    display: flex;
    font-weight: 900;
    padding-bottom: 5px;
}

.footer_link a:hover{
    color: #EA5B18;
}

.footer_link li::after{
    width: 1px;
    height: 13px;
    content: "";
    background-color: #707070;
    display: inline-block;
    margin: 0 20px;
}

.footer_link li:nth-child(3)::after{
    display: none;
}

.icon{
    position: absolute;
}

.icon1{
    top: 217px;
    right: 574px;
    animation: opacity 5s linear infinite;
}

.icon2{
    top: 155px;
    right: 295px;
    animation: opacity 6s linear infinite;
}

.icon3{
    top: 217px;
    right: 35px;
    animation: opacity 7s linear infinite;
}

.footer_mumu{
    position: absolute;
    top: 373px;
    left: 530px;
    transform: translateY(0);
    transition: all 0.6s;
}

.footer_mumu:hover{
    transform: translateY(265px);
}

.top_btn{
    position: absolute;
    top: 370px;
    right: 0;
}
/* footer_E */

/* talk_S */
.talk_btn{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.t_toast{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 13;
}

.t_mumu{
    position: fixed;
    bottom: 141px;
    right: 66.5px;
    z-index: 11;
    transform: translateY(40px);
    transition: all 0.7s linear;
}

.talk_btn:hover .t_mumu{
    transform: translateY(17px);
}

.t_help{
    position: fixed;
    bottom: 168px;
    right: 50.5px;
    z-index: 12;
    opacity: 0;
    transition: all 0.5s linear;
}

.talk_btn:hover .t_help{
    opacity: 1;
}
/* talk_E */

/* talk_board_S */
.talk_wrap{
    overflow: hidden;
}

.talk_popup{
    position: fixed;
    bottom: 160px;
    right: 200px;
    z-index: 999;
}

.x_btn{
    position: fixed;
    bottom: 650px;
    right: 150px;
    z-index: 15;
    cursor: pointer;
}

.popup_board{
    width: 500px;
    height: 500px;
    background: url(../images/talk/board.svg) no-repeat;
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(126, 61, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.p_slogan{
    font-size: 17px;
    height: 27px;
    text-align: center;
    padding: 2px 0;
}

.p_w{
    position: absolute;
    top: 50px;
    left: 28px;
    font-weight: 900;
}

.p_logo_wrap{
    display: flex;
    justify-content: space-between;
    width: 203px;
    position: absolute;
    top: 74px;
    left: 28px;
    height: 70px;
    align-items: center;
}

.p_logo1{
    animation: updown 1.5s linear;
}

.p_logo2{
    animation: downup 1.5s linear;
}

.p_logo3{
    margin-top: -20px;
    animation: updown 1.5s linear;
}

.p_milk_wrap{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    align-items: center;
    margin-top: 10px;
}

.p_milk1{
    margin-right: 170px;
    transform: rotate(0);
    transition: all 1s;
}

.p_milk2{
    transform: rotate(0);
    transition: all 1s;
}

.p_content_wrap{
    display: flex;
    justify-content: space-between;
    width: 460px;
    position: absolute;
    top: 159px;
    left: 50%;
    margin-left: -226.5px;
}

.p_box{
    padding: 20px 12px;
}

.p_box1{
    width: 219px;
    height: 287px;
    background: url(../images/talk/box1.svg) no-repeat;
}

.popup_board:hover .p_milk1{
    transform: rotate(35deg);
}

.popup_board:hover .p_milk2{
    transform: rotate(-35deg);
}

.p_box2{
    width: 219px;
    height: 287px;
    background: url(../images/talk/box2.svg) no-repeat;
}

.box_title{
    display: flex;

}

.p_title{
    margin-left: 8px;
}

.p_ts{
    height: 19px;
    font-size: 12px;

}

.p_tb{
    font-size: 17px;
    font-weight: 900;
}

.p_text{
    line-height: 1.2em;
    font-size: 14px;
    padding-top: 5px;
}

.p_btn{
    display: inline-block;
    background-color: #EE7514;
    padding: 2px 10px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
    color: #FBF8F4;
    cursor: pointer;
    border: 1px solid #EE7514;
}

.p_btn:hover{
    border: 1px solid #EE7514;
    background-color: transparent;
    color: #EE7514;
}
/* talk_board_E */
